.contenido{
    display: grid;
    align-items: flex-start;
    gap:5rem;
}

@media(min-width: 768px){
    .contenido{
        grid-template-columns: 3fr 2fr;
    }
}

.carrito{
    padding: 3rem 0;
}

.resumen{
    padding: 3rem;
    background-color: #F9FAFB;
    border-radius:1rem;
}